html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

* {
    padding: 0;
    margin: 0;
}

/*overlay effect*/

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 9999;
    opacity: 1;
    transition: opacity 1s ease-out;
}
  
body.fade-in {
    overflow: auto;
}
  
.fade-out {
    opacity: 0;
}

/*the rest of the site*/

a:link {
    text-decoration: none;
    text-decoration-color: white;
}

a:visited { 
    text-decoration: none; 
    color: white; 
   }

.navbar {
    text-align: center;
    Position: relative;
    padding-top: 2.5em;
    height: 5em;
    min-width: 100%;
    width: auto;

}

ul {
    list-style-type: disc;
}

.btn {
    color: #fff;
    margin: 2.5em 1em;
    padding: 10px 18px;
    text-decoration: none;
    border: 1px solid coral;
    font-weight: 500;
    font-size: 38px;
    border-radius: 35px;
}

.btn:hover {
    background: coral;
    color: black;
    transition: 200ms;
    cursor: pointer;
}

.hover:hover {
    color: coral;
    transition: 200ms;
    cursor: pointer;
}

.goback{
    font-size:15pt;
    color:darkgrey;
    padding-top: 20px;
}

.goback:hover {
    color: coral;
    transition: 200ms;
    cursor: pointer;
}


.header {
    min-height:100vh;
    background: rgba(0,0,100, 0.4);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    position: relative;
}

.video-background{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    object-fit: cover; 
}

.footer-container {
    padding: 0;
    height: 750px;
    width: 100vw;
    background: coral;
    text-align: center;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.footericons {
    padding-top: 14em;
    Padding-bottom: 5em;
}

img {
    background: black;
    color: coral;
}

.icon {
    background-color: coral;
    height: 150px;
    width: 150px;
    padding-left: 2.5em;
    padding-right: 2.5em;
}

.footertext {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 3em;
    font-weight: 600;
}

.TV {
    width: 80vw;
    height:70vh;
    margin-top: 16vh;
    position: absolute;
    text-align: center;
}

/**beginning of home channel code**/
#chhome {
   display: block;
   visibility: visible;
   width: inherit;
   height: inherit;
   position: absolute;
   text-align: center;
   border: white solid 1px;
   overflow-y: hidden;
   overflow-x: hidden;
}

.TVbigtext {
    font-size: 8em; 
    color: coral;
}
/**beginning of channel one code**/

#ch1 {
    visibility: hidden;
    width: inherit;
    height:inherit;
    text-align: center;
    border: white solid 1px;
    overflow-x: hidden;
    overflow-y: hidden;
}

.mobile-container{
    display: none;
}

.outer-container {
    width: 80vw;
    height: 70vh;
    position: absolute;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-section {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    padding: 10px;
    position: relative;
}

.tile {
    background-color: rgba(0,0,0,0.4);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: transform 0.3s, background-color 0.3s, z-index 0.3s;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    z-index: 1;
    min-width: 570px;
}

.tile:hover {
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 10;
}

.tile h2 {
    font-size: 1.5em;
    color: whitesmoke;
}

.tile li {
    color: whitesmoke ;
    font-size: 1rem;
}
.detail {
    font-size: 1em;
    color: whitesmoke;
    margin-top: 10px;
}

.hidden {
    display: none;
}

/**beginning of channel Three code**/
#ch3 {

    visibility: hidden;
    width: inherit;
    height: inherit;
    text-align: center;
    border: white solid 1px;
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: hidden;
}

#title-ch3 {
    font-size:30pt;
    color: white;
    padding-bottom: 10px;
}

.computers {
    overflow: hidden;
    margin: 0 auto;
    width: 20vw;
    height: 50vh;
    border: coral 5px solid;
    display: flex;
    justify-content: center;
}

.slide img {
    width: 100%;
    height: 100%;
    position: relative;
}

#slides {
    top: 0%;
    position: relative;
    width: 100%;
    transition: 0.6s;
}

.slide {
    top: 0%;
    position: relative;
    width: 100%;
}

 .picnav {
    position: absolute;
    bottom: 20vh;
    margin: 0 auto;
    display: flex;
 }

.bar {
    width: 50px;
    height: 10px;
    border: black 2px solid;
    margin: 6px;
    cursor: pointer;
    transition: 0.4s;
}

#back {
    width: fit-content;
    height: fit-content;
    background-color: black;
    color: white;
    font-size: 2.5rem;
}

#url-links {
    visibility: hidden;
    width: inherit;
    height: inherit;
    text-align: center;
    border: white solid 1px;
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: hidden;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.url-format {
    padding-top: 10px;
    padding-bottom: 10px;
    color: whitesmoke;
    font-size: 2.5rem;
}

.url-format:hover {
    color: coral;
    transition-duration: 500ms;
}


.url-container {
    padding-top: 15vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}



/**Beginning of mobile support  **/

@media only screen and (max-width: 1500px){
    .html {
        overflow-x: hidden;
    }

    .TV {
        width: 100vw;
        height: auto;
        min-height: 75vw;
        margin-top: 23vh;
        position: absolute;
        text-align: center;
        border: none;
    }

    .btn {
        font-weight: 300;
        font-size: 27px;
        border-radius: 35px;
        margin-top: 5px;
        margin: 5px auto;
        padding: 0;
        width: 50vw;
        min-height: 32px;
        
    }

    .navbar {
        height: 11.7em;
        display: flex;
        flex-direction: column;
        padding: 0;
        text-align: center;
    }

    #chhome {
        overflow: scroll;
        border: none;
    }

    .TVtext {
        font-size: 12pt;
    }
    .TVbigtext {
        font-size: 4em;
    }
/* beginning of ch1 mobile code*/
    #ch1 {
        visibility: hidden;
        width: inherit;
        height:inherit;
        text-align: center;
        overflow: scroll;
        overflow-x: hidden;
        border: none;
    }

    .outer-container {
        display: none;
    }
  
    .mobile-container {
        display: block;
        max-width: 700px;
        margin: 20px auto;
        background: rgba(192, 192, 192, 0.3);
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        overflow: hidden;
    }
    
    .tabs {
        display: flex;
        background: coral;
    }
    
    .tab {
        flex: 1;
        padding: 10px 0;
        text-align: center;
        color: whitesmoke;
        cursor: pointer;
        font-size: 16px;
    }
    
    .tab.active {
        background: #005BB5;
    }
    
    .content {
        padding: 20px;
        display: none;
    }
    
    .content.active {
        display: block;
    }
    

    
    /* beginning of mobile channel 3 code */

    #ch3 {
        border: none;
        overflow: scroll;
    }

    #title-ch3 {
        font-size:15pt;
        color: white;
        padding-bottom: 1px;
    }

    .header {
        height: 100vh;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        }

    .footericons {
        padding-top: 1em;
        Padding-bottom: 18px;
    }

    .footertext {
        font-size: 18pt;
    }

    .icon {
        background-color: coral;
        height: 150px;
        width: 150px;
        padding-left: 2.5em;
        padding-right: 2.5em;
    }

    .aboutmeflex{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: auto 0;
        padding: 0;
    }

    .aboutme {
        display: none;
    }

    .mobileaboutme {
        display: block;
        color: white;
        font-size: 12pt;
        width: 80vw;
        height: 70vh;
    }

    .nextcircle {
        display: none;
    }

    .footer-container {
        margin-top: 0;
        height: 350px;
    }
    
    #back {
        font-size: 1.5rem;
    }


    thead {
        font-weight: bold;
    }

    .icon {
        height: 80px;
        width: 80px;
    }

    .computers {
        width: 60vw;
        height: 45vh;
        border: coral 3px solid;
    }

    .url-format {
        padding-top: 8px;
        padding-bottom: 8px;
        color: whitesmoke;
        font-size: 1.3rem;
    }

    .url-container {
        padding-top: 5vh;
        display: flex;
        justify-content: center;
        flex-direction: column;
        
    }

    #url-links {
        border: none;
    }
}
/** End of mobile Support **/
