html {
    background-color: rgb(24, 24, 68);
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    z-index:  -1;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

header {
    background-color: coral;
    color: #fff;
    padding: 5px;
    text-align: center;
    position: fixed;
    width: 100vw;
   
}

nav {
    background-color: #f4f4f4;
    padding: 10px;
    width: 30vw;
    height: 20vh;
    overflow-y: auto;
    position: fixed;
    left: -520vw;
    transition: left 0.5s ease-in-out;
}

nav a {
    text-align: center;
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: rgb(84, 105, 224);
    color: seashell;
}

a:link {
    color: rgb(165, 34, 218);
}

.content a:visited {
    color:#d43333;
}

.content {
    padding-top: 140px;
    display: flex;
    justify-content: center;
}

p {
    line-height: 1.6;
    color: seashell;
    font-size: 1.2rem;
    font-weight: bolder;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    
    
}

.postformat {
    background-color: rgb(24, 24, 68);
    width: 1024px;
    text-align: center;
}

p .menubutton {
    font-size: 24px; 
    color: rgb(224, 208, 196);
    transition: color 0.3s ease;
}
p .menubutton:hover {
    color: rgb(24, 24, 68);
    cursor: pointer;
}

.pendingpostformat{
    padding-top: 140px;
    width: 100vw;
    height: 100vh;
    text-align: center;
    display: none;
}

.post1format {
    width: 1024px;
    max-width: 1020px;
    height: 768px;
    height: inherit;
    border: orange 2px solid;
    z-index: 1;
}

#post2 {
    scroll-margin-top: 200px;
}
#post1 {
    scroll-margin-top: 200px;
}

#code-container {
    background-color: #f0f0f0;
    border: 5px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    max-width: 720px;
    margin: auto;
    overflow-x: auto;
    text-align: left;
}

pre {
    margin: 0;
    white-space: pre-wrap;
}

code {
    font-family: Consolas, "Courier New", monospace;
    color: #333;
    display: block;
}




/**Beginning of mobile support  **/

@media only screen and (max-width: 950px){
    p {
        font-size: 1.0rem;
    }
    
    .postformat {
        width: 100vw;
        max-width: 650px;
        text-align: center;
    }
    nav {
        width: 80vw;
        height: 15vh;
    }

    p .menubutton {
        font-size: 16px; 
    }
    
    .post1format {
        width: 100vw;
        max-width: 646px;
        height: 39vh;
    }

}